
@model TestTask.Models.ViewModel.RegisterViewModel
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Register" class="register-form">
    <div asp-validation-summary="ModelOnly" style="text-align:center;"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" /><br />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" /><br />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" /><br />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div id="register-button">
        <input type="submit" value="Регистрация" class="btn btn-primary" />
    </div>
</form>